{% extends 'base.html' %}

{% block content %}
    <div class="container"> 
    <div class="jumbotron problem-provider-form">
        <h2> Edit account details</h2> <br>
        <form class="problem-provider-form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="save btn btn-default" value="Submit">
        </form>
    </div>
    <div>
    <script>  
        {% comment %} .editable class is attatched to form as a widget {% endcomment %}
        var editor = new MediumEditor('.editable');
    </script>
{% endblock content %}

